{
    "presets": [
        "env",
        "react",
        "stage-0"
    ],
    "plugins": [
        "emotion",
    ],
    "env": {
        "development": {
            "plugins": []
        },
        "production": {
            "plugins": [
                "transform-react-remove-prop-types"
            ]
        }
    }
}